
/* Sidenav.css */

body {
  font-family: "Lato", sans-serif;
  background-color: #f7f5f5;

}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 10rem;
  background-color: #961212;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.calendar-container {
width: 800px;
height: 10px;
margin-left: 100px;
float: right;
}







.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav { padding-top: 15px; }
  .sidenav a { font-size: 18px; }
}

.topnav {
overflow: hidden;
background-color: hwb(0 83% 13% / 0.258);
margin-left: 1500px;
width: 570px;
font-size:10rem;


}

.topnav a {
float: left;
display: block;
color: rgb(0, 0, 0);
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 20px;
}
.cart a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
background-color: #ddd;
color: rgb(16, 16, 16);
}

.topnav a.active {
background-color: #f1f1f1b1;
color: rgb(23, 22, 22);
}

/* .topnav .search-container {
float: right;
} */
.container{

margin-left: 1500px;
}

.li{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8a848461;
}
.sideBar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100rem;
  width: 400px;
  background-color: rgb(255, 254, 254);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.search-input10 {
  border-radius: 30px;
  width: 40%;
  height: 50px;
  margin-left: 600px;
  border: none;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px;
  padding-left: 15px;
  background-color: rgb(232, 237, 241);
  margin-top: 20px;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: 1500px;
  margin-top: 100px;
 
 
}
.card-body11{
 height: 15rem;
 width: 60rem;

  background-color: hsla(0, 0%, 100%, 0.377);
 
}
.vh-100{
  background-color:hwb(0 100% 0%);
  width: 1200px;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px;
  font-weight: bold;
  text-align: center;


}
.card-img-bottom{
height: 100px;


 
}

.cart{
  height: 50px;
  width: 50px;
  margin-left: 600px;
  margin-right: 600px;

}

.cart a:hover{
  background-color: #ddd;
  color: rgb(16, 16, 16);

}
.card-body1{
  height: 55rem;
  width: 40rem;
  border-radius: 10%;
 
  background-color: hsla(150, 5%, 92%, 0.714);
  



}
  /* .card-body10{
  height: 55rem;
  width: 40rem;
  border-radius: 10%;
 
  background-color: rgba(231, 225, 225, 0.714);
  


} */

.card-titl{
  margin-left: 200px;
  margin-right: 150px;  
  font-size: 50px;
  
}
.btn {
  color: hsl(0, 0%, 100%);
  background-color: hwb(278 37% 26%);
}
.b{
  color: hsl(0, 0%, 100%);
  background-color: hwb(278 37% 26%);
  margin-left: 250px;
  font-size:500px ;
  
}
.h3{
margin-left: 250px;
}
.card-img-bottom1{

  border-radius: 50%;
  width: 300px;
  margin-left: 155px;
  margin-top: 90px;
  
     
  
}
.card-img-bottom3{

border-radius: 50%;
width: 10px;

}
.FaStar{
margin-left: 250px;
}
.FaStar1{
margin-left: 940px;
}
.li{
margin-top: 120px;
font-size: 25px;
margin-left: 20px;
background-color:  rgb(255, 254, 254);

}

.li li:hover{
background-color: hsl(0, 1%, 72%);
color: rgb(0, 0, 0);

}
.title{
text-align: center;
margin-top: 30px;
margin-right: 1450px;
color: hsl(211, 31%, 37%);
font-size: 50px;
font-weight: bold;
}
.notf{
font-size: 50px;
margin-left: 700px;
}
.quest{
font-size: 40px;
margin-left: 20px;
}
.date{
margin-left: 950px;
font-size: 20px;
font-weight: bold;

}
.name{
font-size: 20px;
font-weight: bold;
}

.link{
color: #030303;
}
.h1{
margin-left: 500px;
margin-top: 50px;
color: #5f7db7;
font-weight: bold;
}
.h2{
margin-left: 500px;
margin-top: 15px;
font-size: 20px;
color: gray;
}



.container1{
margin-left: 600px;
}


.c-details span {
font-weight: 300;
font-size: 13px
}

.icon {
width: 50px;
height: 50px;
background-color: #eee;
border-radius: 15px;
display: flex;
align-items: center;
justify-content: center;
font-size: 39px
}

.badge span {
background-color: #fffbec;
width: 60px;
height: 25px;
padding-bottom: 3px;
border-radius: 5px;
display: flex;
color: #fed85d;
justify-content: center;
align-items: center
}

.progress {
height: 10px;
border-radius: 10px
}

.progress div {
background-color: red
}

.text1 {
font-size: 14px;
font-weight: 600
}

.text2 {
color: #a5aec0
}
.statistique{
  width: 900px;
  height: 500px;
   font-size: 500px;
   margin-top: 100px;
   border-radius: 10%;
   margin-left: 610px;
 }




















